openapi: 3.0.4
info:
  title: ULID Generator
  description: >-
    ULID Generator is a tool for generating Universally Unique Lexicographically
    Sortable Identifiers (ULIDs). ULIDs are 26-character strings that are
    sortable by time and collision-resistant.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/ulidgenerator:
    get:
      summary: Generate ULID
      description: Generate one or more ULIDs
      operationId: ulidgenerator
      parameters:
        - name: count
          in: query
          schema:
            type: integer
          required: false
          description: Number of ULIDs to generate
          example: 5
        - name: timestamp
          in: query
          schema:
            type: integer
          required: false
          description: >-
            Custom timestamp in milliseconds (optional, uses current time if not
            specified)
          example: 1609459200000
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  ulids:
                    - 01KCMMK564DMMCC17AVBZTVNT1
                    - 01KCMMK565ZE4681DFAEWBF95G
                    - 01KCMMK566K1REYH0JEK4Q8DKW
                    - 01KCMMK5670W9EHFNX76R8FKWH
                    - 01KCMMK568SFRY6DCZTZYMR66Y
                  count: 5
                  timestamp: 1765924246724
                  format: 26 characters (10 timestamp + 16 random)
                  sortable: true
                  case_insensitive: true
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
